* {
    box-sizing: border-box;
  } 
  html, body {
    margin: 0; 
    padding: 0; 
  }

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f44336;
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    height: 50px;
    border-bottom:1px solid white;
  }
  .currency {
    position: relative;
  }
  #currency-select {
    background-color: #c50f0f59;
    color: white; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    width: 100px;
    height: 30px;
    margin-left: 300px;
  }

  .currency-list {
    display: none;
    position: absolute;
    top: 60%;
    left: 75%; 
    background-color: #fff;
    color: #333;
    list-style: none;
    padding: 5px;
    border: 1px solid #ccc;
    min-width: 100px;
  }
  
  .currency-list li {
    padding: 5px;
    cursor: pointer;
  }
  
  .currency-list li:hover {
    background-color: #f0f0f0;
  }
  
  .topbar-links {
    display: flex;
    align-items: center;
    margin-right: 300px;
  }
  
  .topbar-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }
  
  /* Header Main */
  .header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f44336;
  }
  .logo-left{
    margin-left: 300px;
  }
  
  .logo-left img{
    width: 100%;
    height: 100%;
  }
  .logo-right{
    margin-right: 420px;
    padding-left: 30px;
  }
  .logo-right img {
    width: 100%; 
    height: 100%;
    padding-left: 25px;
    border-left: solid 1px white;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 500px;
    height: 42px;

  }
  
  .search-bar button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 42px;
  }
  
  .search-icon {
    font-size: 16px;
  }
  
  /* Head-footer */
  .head-footer {
    display: flex;
    background-color: #f1f1f1;
    position: relative; 
    height: 70px; 
  }
  
  .dropdown {
    position: relative;
    margin-top: 16px;
  }
  
  .dropdown-btn {
    background-color: black;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 320px;
    width: 250px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none; 
    padding: 0;
    margin-left: 320px;
  }
  
  .dropdown-content li {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .list-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .toys-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    min-width: 250px;
  }
  
  .category-item:hover .toys-dropdown {
    display: block;
  }
  
  .toys-dropdown h4 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product img {
    width: 250px;
    height: 100px;
    margin-bottom: 5px;
  }
  
  .product p {
    margin: 2px 0;
    font-size: 14px;
    transition: color 0.3s;
    text-align: center;
    width: 200px;
    display: inline-block;
    word-wrap: break-word;
    max-width: 250px;
  }

  .product:hover p {
    color: red;
  }
  
  .price-original {
    text-decoration: line-through;
    color: gray;
  }
  
  .price-discount {
    color: red;
    font-weight: bold;
  }
  .sub-dropdown {
    display: none;
    position: absolute;
    left: 100%; 
    top: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
  }
  
  .dropdown-content li:hover .sub-dropdown {
    display: block;
  }
  .home-category-item{
    list-style: none;
    height: 100%
  }
  .home-button {
    background-color: #f1f1f1; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.2s ease; 
    border-right: solid 1px gray;
    border-left: solid 1px gray;
    margin-left: 10px;
    height: 100%; 
    display: flex;
    align-items: center;
  }
  
  .home-button .arrow {
    font-size: 12px; 
    margin-left: 5px; 
  }
  .home-button:hover{
    color: red;
  }
  
  .home-dropdown {
    display: none; 
    position: absolute;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left; 
  
}
.home-section ul {
  padding: 0; 
  list-style: none; 
}
  
  .home-category-item:hover .home-dropdown {
    display: block; 
    
  }
  
  .hover-text {
    cursor: pointer; 
    transition: transform 0.2s ease, color 0.2s ease; 
    text-align: left; 
    width: 150px; 
    padding: 10px;
    color: gray;
  }

  .hover-text:hover {
    color: red; 
    transform: translateY(-2px); 
  }
   
  .head-footer {
    display: flex;
}

.nav-btn {
    background-color: transparent; 
    border: none; 
    color: black; 
    padding: 15px; 
    cursor: pointer; 
    border-right: solid 1px gray;
}

.nav-btn:hover {
    color: red; 
}

.slider-container {
  position: relative;
  max-height: 575px;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
}

img {
  width: 100%;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.slider-container:hover .prev,
.slider-container:hover .next {
    opacity: 1;
}

#center_column {
  width: 100%;
  max-width: 1200px;
  height: 5606.91px;
  margin: 0 auto;
  background-color: #f5f5f5; 
}
.deal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-top: solid 3px red;
  margin-top: 30px;
}

.deal-text {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.arrows button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.arrows button:hover {
  color: #ff0000;
}
.product-gallery {
  overflow: hidden;
  width: 100%;
  max-width: 1048px;
  margin: auto;
}

/* start css main gallery-wrapper */

.gallery-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.product-item {
  position: relative;
  overflow: hidden;
  min-width: 262px;
  height: 350px;
  margin-right: 10px;
  perspective: 1000px;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.product-item .main-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
}

.product-item .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  opacity: 0;
  height: 305px;
}

.product-item:hover .main-img {
  transform: rotateY(-90deg);
  opacity: 0;
}

.product-item:hover .hover-img {
  transform: rotateY(0deg);
  opacity: 1;
}

.action-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-item:hover .action-buttons {
  opacity: 1;
}
.icon-button {
  background: #333;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.icon-button:hover {
  background: #f00;
}

/* start css main gallery-wrapper */

/* css main fashion */

.Fashion-cloth-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Fashion-cloth-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid red;
}

.titele-fashion-cloth-main{
  color: red;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Fashion-cloth-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Fashion-cloth-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}
.Fashion-cloth-main-sidebar li:hover {
  color: red; 
}

.Fashion-cloth-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Fashion-cloth-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Fashion-cloth-main-prev, .Fashion-cloth-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.Fashion-cloth-main-carousel:hover .Fashion-cloth-main-prev,
.Fashion-cloth-main-carousel:hover .Fashion-cloth-main-next {
  opacity: 1;
}

.Fashion-cloth-main-prev {
  left: 0;
}

.Fashion-cloth-main-next {
  right: 0;
}

.Fashion-cloth-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Fashion-cloth-main-images img {
  width: 242px;
  height: 346px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.Fashion-cloth-main-bottom {
  display: flex;
  gap: 10px;
}

.Fashion-cloth-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/*end css main fashion */


/*start css main electronic */

.Electronics-computers-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Electronics-computers-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid rgba(55, 66, 212, 0.733);
}

.title-electronics-computers-main {
  color: rgba(55, 66, 212, 0.733);
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Electronics-computers-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Electronics-computers-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.Electronics-computers-main-sidebar li:hover {
  color: red;
}

.Electronics-computers-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Electronics-computers-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Electronics-computers-main-prev,
.Electronics-computers-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.Electronics-computers-main-carousel:hover .Electronics-computers-main-prev,
.Electronics-computers-main-carousel:hover .Electronics-computers-main-next {
  opacity: 1;
}

.Electronics-computers-main-prev {
  left: 0;
}

.Electronics-computers-main-next {
  right: 0;
}

.Electronics-computers-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Electronics-computers-main-images img {
  width: 242px;
  height: 346px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.Electronics-computers-main-bottom {
  display: flex;
  gap: 10px;
}

.Electronics-computers-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*end css main electronic */


/* start css main toy*/

.Toy-kids-baby-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Toy-kids-baby-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid rgb(22, 201, 255);
}

.title-toy-kids-baby-main {
  color: rgb(22, 201, 255);
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Toy-kids-baby-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Toy-kids-baby-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}
.Toy-kids-baby-main-sidebar li:hover {
  color: red;
}

.Toy-kids-baby-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Toy-kids-baby-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Toy-kids-baby-main-prev, .Toy-kids-baby-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.Toy-kids-baby-main-carousel:hover .Toy-kids-baby-main-prev,
.Toy-kids-baby-main-carousel:hover .Toy-kids-baby-main-next {
  opacity: 1;
}

.Toy-kids-baby-main-prev {
  left: 0;
}

.Toy-kids-baby-main-next {
  right: 0;
}

.Toy-kids-baby-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Toy-kids-baby-main-images img {
  width: 242px;
  height: 346px;
}

.Toy-kids-baby-main-bottom {
  display: flex;
  gap: 10px;
}

.Toy-kids-baby-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end css main toy*/

/* end css main garden */

.Home-garden-tools-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Home-garden-tools-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid #8cc34b;
}

.title-home-garden-tools-main {
  color: #8cc34b;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Home-garden-tools-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Home-garden-tools-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.Home-garden-tools-main-sidebar li:hover {
  color: red;
}

.Home-garden-tools-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Home-garden-tools-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Home-garden-tools-main-prev,
.Home-garden-tools-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.Home-garden-tools-main-carousel:hover .Home-garden-tools-main-prev,
.Home-garden-tools-main-carousel:hover .Home-garden-tools-main-next {
  opacity: 1;
}

.Home-garden-tools-main-prev {
  left: 0;
}

.Home-garden-tools-main-next {
  right: 0;
}

.Home-garden-tools-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Home-garden-tools-main-images img {
  width: 242px;
  height: 346px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.Home-garden-tools-main-bottom {
  display: flex;
  gap: 10px;
}

.Home-garden-tools-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end css main garden */

/* start css main decor */

.Decor-furniture-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Decor-furniture-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid #ffe035;
}

.title-decor-furniture-main {
  color: #ffe035;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Decor-furniture-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Decor-furniture-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.Decor-furniture-main-sidebar li:hover {
  color: red;
}

.Decor-furniture-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Decor-furniture-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Decor-furniture-main-prev, .Decor-furniture-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.Decor-furniture-main-carousel:hover .Decor-furniture-main-prev,
.Decor-furniture-main-carousel:hover .Decor-furniture-main-next {
  opacity: 1;
}

.Decor-furniture-main-prev {
  left: 0;
}

.Decor-furniture-main-next {
  right: 0;
}

.Decor-furniture-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Decor-furniture-main-images img {
  width: 242px;
  height: 346px;
}

.Decor-furniture-main-bottom {
  display: flex;
  gap: 10px;
}

.Decor-furniture-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end css main decor */

/* start css main sport */

.Sports-outdoors-main-container {
  display: flex;
  width: 1200px;
  height: 638px;
  margin-top: 20px;
}

.Sports-outdoors-main-sidebar {
  width: 200px;
  background-color: white;
  overflow-y: auto;
  border-top: 3px solid #ff9801;
  margin-top: 8px;
}

.title-sports-outdoors-main {
  color: #ff9801;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.Sports-outdoors-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Sports-outdoors-main-sidebar li {
  margin: 20px 0;
  padding-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.Sports-outdoors-main-sidebar li:hover {
  color: red;
}

.Sports-outdoors-main-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Sports-outdoors-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Sports-outdoors-main-prev, .Sports-outdoors-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}


.Sports-outdoors-main-images {
  display: flex;
  transition: transform 0.5s;
  gap: 10px;
}

.Sports-outdoors-main-images img {
  width: 242px;
  height: 346px;
}

.Sports-outdoors-main-bottom {
  display: flex;
  gap: 10px;
}

.Sports-outdoors-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end css main sport */

/* start css main gifts */

.Gifts-parties-holiday-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Gifts-parties-holiday-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid #7a564a;
}

.title-gifts-parties-holiday-main {
  color: #7a564a;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Gifts-parties-holiday-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Gifts-parties-holiday-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.Gifts-parties-holiday-main-sidebar li:hover {
  color: red;
}

.Gifts-parties-holiday-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Gifts-parties-holiday-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Gifts-parties-holiday-main-prev, .Gifts-parties-holiday-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.Gifts-parties-holiday-main-carousel:hover .Gifts-parties-holiday-main-prev,
.Gifts-parties-holiday-main-carousel:hover .Gifts-parties-holiday-main-next {
  opacity: 1;
}

.Gifts-parties-holiday-main-prev {
  left: 0;
}

.Gifts-parties-holiday-main-next {
  right: 0;
}

.Gifts-parties-holiday-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Gifts-parties-holiday-main-images img {
  width: 242px;
  height: 346px;
}

.Gifts-parties-holiday-main-bottom {
  display: flex;
  gap: 10px;
}

.Gifts-parties-holiday-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end css main gifts */

/* start css main health */

.Beauty-health-main-container {
  margin-top: 20px;
  display: flex;
  width: 1200px;
  height: 638px;
}

.Beauty-health-main-sidebar {
  width: 200px;
  height: 638px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
  border-top: 3px solid #00968a;
}

.title-beauty-health-main {
  color: #00968a;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.Beauty-health-main-sidebar ul {
  list-style: none;
  padding: 0;
  color: gray;
  font-size: 14px;
}

.Beauty-health-main-sidebar li {
  margin: 25px 0;
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.Beauty-health-main-sidebar li:hover {
  color: red;
}

.Beauty-health-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.Beauty-health-main-carousel {
  position: relative;
  width: 1005px;
  height: 346px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Beauty-health-main-prev,
.Beauty-health-main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.Beauty-health-main-carousel:hover .Beauty-health-main-prev,
.Beauty-health-main-carousel:hover .Beauty-health-main-next {
  opacity: 1;
}

.Beauty-health-main-prev {
  left: 0;
}

.Beauty-health-main-next {
  right: 0;
}

.Beauty-health-main-images {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}

.Beauty-health-main-images img {
  width: 242px;
  height: 346px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.Beauty-health-main-bottom {
  display: flex;
  gap: 10px;
}

.Beauty-health-main-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end css main health */

/* first part Footer Styles */
.footer {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}


.footer-section {
  width: 45%;
  padding: 10px;
  
}
.blog-section{
  border-right: solid 1px rgb(199, 198, 198);
}

.blog-section h3,
.twitter-section h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.blog-section .blog-post {
  display: flex;
  flex-direction: column;
}

.blog-section .icon {
  font-size: 24px;
  margin-right: 5px;
}

.blog-section h4 {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  margin: 10px 0;
}
.clickable-text {
  color: #000; 
  text-decoration: none; 
}

.clickable-text:hover {
  color: red; 
}


.date-comments {
  font-size: 12px;
  color: #888;
}

.blog-text {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.read-more {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}
.read-more:hover {
  color: red; 
}


.twitter-section .twitter-icon {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}
.twitter-content{
  margin: 50px;
}
.twitter-content-p {
  margin-top: 50px;
}

.twitter-section p {
  font-size: 16px;
  color: #000;
}

/*  end first part Footer Styles */

/* start footer-part2 */

.footer-part2 {
  background-color: #222;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-part2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.footer-part2-subscribe {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.footer-part2-email-input {
  border: none;
  height: 42px;
  padding-right: 250px;
  padding-left: 50px;
  text-align: left;
  font-size: 14px;
  color: #888;
}

.footer-part2-subscribe-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.footer-part2-social {
  display: flex;
  align-items: center;
}

.footer-part2-social span {
  margin-right: 15px;
  font-weight: bold;
}

.footer-part2-social-icons {
  display: flex;
}

.footer-part2-social-icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: #444;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.footer-part2-social-icon:hover {
  background-color: #e74c3c;
}

/* end footer-part2 */

/* start footer-end */


.footer-end {
  background-color: white;
  padding: 40px 20px;
  color: #333;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.footer-end-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.footer-section {
  width: 22%;
}

.footer-section h3 {
  font-size: 14px;
  color: #000;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #555;
  font-size: 13px;
}

.footer-section ul li a:hover {
  color: #ff5555;
}
.footer-section p{
  font-size: 12px;
}

.footer-section-golmart h3{
  font-size: 14px;
  padding-left: 12px;
}
.footer-section-golmart p{
  font-size: 12px;
  padding-left: 12px;
}

.footer-services {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.service-item {
  text-align: center;
  width: 30%;
}

.service-item img {
  width: 90%;
  height: 90%;
}

/* end footer-end */

/* start footer-end-2 */

.footer-end-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.footer-end-2-left p {
  margin-left: 300px;
  font-size: 12px;
  color: #666;
}

.footer-end-2-right img {
  height: 40px;
  width: 400px;
  margin-right: 300px;
}

/* end footer-end-2 */

/* start popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 9;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90%;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
  border-radius: 8px;
  overflow: hidden;
}

.popup-content {
  display: flex;
}

.popup-text {
  flex: 1;
  padding: 20px;
}

.popup-image img {
  width: 300px;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.subscribe-btn {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
.subscribe-btn:hover {
  color: black;
  background-color: red;
}

.social-icons{
  margin-top: 30px;
}

i.bi {
  padding: 0 10px;
  font-size: 24px; 
  color: black; 
  transition: color 0.3s; 
}

i.bi-facebook:hover {
  color: plum; 
}
i.bi-twitter:hover {
  color: blue; 
}
i.bi-instagram:hover {
  color: orange; 
}
i.bi-youtube:hover {
  color: red; 
}
i.bi-google:hover {
  color: rgb(136, 255, 0); 
}

/* end popup */

/* start menu css */
.floor-fixed-panel {
  position: fixed;
  top: 20%;
  left: 20px;
  width: 65px;
  background-color:black;
  border-radius: 8px;
  margin-left: 250px;
}

.floor-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.floor-nav-list li {
  margin-bottom: 10px;
}

.floor-nav-list a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.floor-nav-list a:hover {
  background-color: #555;
}

.floor-nav-list i {
  margin-right: 8px;
  font-size: 18px;
}

.content {
  margin-left: 240px; 
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 8px;
}
.menu-img {
  width: 65px;
  height: 65px;
}
/* end menu css */





  

  
  
 
  

  
  
  